main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.timer-name {
  margin-right: 3px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-boader);
  width: 51px;
  height: 52px;
}
